.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid white; */
}
.controls .controls__btn {
  border: 2px solid rgba(255, 255, 255, 0.25);
  width: calc(3rem + 4px);
  height: calc(3rem + 4px);
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.controls .controls__btn svg {
  width: 30px;
  height: 30px;
}

.controls .controls__btn-md {
  margin: 1.5rem 1.5rem;
  width: calc(4rem + 4px);
  height: calc(4rem + 4px);
}

.controls .controls__btn:hover {
  border: 1px solid white;
}

.controls__icons {
  color: black;
}

/**---------- TIMER ------------**/

.timer::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
}

.timer::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.timer {
  color: black;
  position: relative;
  margin: 0 auto;
  /* background-color: violet; */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 224px;
  height: 224px;
  border: 4px solid rgb(0, 0, 0);
}

.timer__sesion {
  font-weight: 500;
}

.timer__countdown {
  font-size: 2.5rem;
}
