* {
  /* background-color: #d9534f; */
  /* min-height: 100vh; */
  box-sizing: border-box;
  /* color: white; */
}
/* .app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  /* background-color: #d9534f; */
}
